## Reshaping Data using Melt and Pivot.

### .melt()- function

In [3]:
import pandas as pd

# sample dataframe
data = {
    "Name": ["Jatin", "Rahul","Ashutosh", "Harmish"],
    "Maths": [65,58,98,45],
    "Science": [56,47,15,68],
    "Sst": [45,37,19,82],
    "Hindi": [46,49,37,53]
}

df = pd.DataFrame(data)
print(df)

       Name  Maths  Science  Sst  Hindi
0     Jatin     65       56   45     46
1     Rahul     58       47   37     49
2  Ashutosh     98       15   19     37
3   Harmish     45       68   82     53

In [5]:
df.melt(id_vars=["Name"], value_vars=['Maths', 'Science', 'Sst', 'Hindi'], var_name="Subject", value_name="Score")

        Name  Subject  Score
0      Jatin    Maths     65
1      Rahul    Maths     58
2   Ashutosh    Maths     98
3    Harmish    Maths     45
4      Jatin  Science     56
5      Rahul  Science     47
6   Ashutosh  Science     15
7    Harmish  Science     68
8      Jatin      Sst     45
9      Rahul      Sst     37
10  Ashutosh      Sst     19
11   Harmish      Sst     82
12     Jatin    Hindi     46
13     Rahul    Hindi     49
14  Ashutosh    Hindi     37
15   Harmish    Hindi     53

In [10]:
df.pivot(index="Name", columns="Subject", values="Score")

KeyError: 'Subject'