## Reshaping Data using Melt and Pivot.

### .melt()- function

In [3]:
import pandas as pd

# sample dataframe
data = {
    "Name": ["Jatin", "Rahul","Ashutosh", "Harmish"],
    "Maths": [65,58,98,45],
    "Science": [56,47,15,68],
    "Sst": [45,37,19,82],
    "Hindi": [46,49,37,53]
}

df = pd.DataFrame(data)
print(df)

       Name  Maths  Science  Sst  Hindi
0     Jatin     65       56   45     46
1     Rahul     58       47   37     49
2  Ashutosh     98       15   19     37
3   Harmish     45       68   82     53

In [5]:
df.melt(id_vars=["Name"], value_vars=['Maths', 'Science', 'Sst', 'Hindi'], var_name="Subject", value_name="Score")

        Name  Subject  Score
0      Jatin    Maths     65
1      Rahul    Maths     58
2   Ashutosh    Maths     98
3    Harmish    Maths     45
4      Jatin  Science     56
5      Rahul  Science     47
6   Ashutosh  Science     15
7    Harmish  Science     68
8      Jatin      Sst     45
9      Rahul      Sst     37
10  Ashutosh      Sst     19
11   Harmish      Sst     82
12     Jatin    Hindi     46
13     Rahul    Hindi     49
14  Ashutosh    Hindi     37
15   Harmish    Hindi     53

In [ ]:
import pandas as pd

# Load your data
df = pd.read_csv("Hero-data.csv")  

df.columns = df.columns.str.strip()
print("Columns:", df.columns.tolist())

pivot_df = df.pivot(index="Actor", columns="Film", values="IMDb")
print(pivot_df)

Columns: ['Actor', 'Film', 'Year', 'Genre', 'BoxOffice(INR Crore)', 'IMDb']
Film                Andhadhun  Badrinath Ki Dulhania  Bhool Bhulaiyaa 2  \
Actor
Aamir Khan                NaN                    NaN                NaN
Akshay Kumar              NaN                    NaN                NaN
Ayushmann Khurrana        8.3                    NaN                NaN
Hrithik Roshan            NaN                    NaN                NaN
Kartik Aaryan             NaN                    NaN                5.9
Rajkummar Rao             NaN                    NaN                NaN
Ranbir Kapoor             NaN                    NaN                NaN
Ranveer Singh             NaN                    NaN                NaN
Salman Khan               NaN                    NaN                NaN
Shah Rukh Khan            NaN                    NaN                NaN
Varun Dhawan              NaN                    6.1                NaN
Vicky Kaushal             NaN                    NaN                NaN

Film                Brahmastra  Dangal  Good Newwz  Padmaavat  Pathaan  Stree  \
Actor
Aamir Khan                 NaN     8.4         NaN        NaN      NaN    NaN
Akshay Kumar               NaN     NaN         7.0        NaN      NaN    NaN
Ayushmann Khurrana         NaN     NaN         NaN        NaN      NaN    NaN
Hrithik Roshan             NaN     NaN         NaN        NaN      NaN    NaN
Kartik Aaryan              NaN     NaN         NaN        NaN      NaN    NaN
Rajkummar Rao              NaN     NaN         NaN        NaN      NaN    7.5
Ranbir Kapoor              5.6     NaN         NaN        NaN      NaN    NaN
Ranveer Singh              NaN     NaN         NaN        7.0      NaN    NaN
Salman Khan                NaN     NaN         NaN        NaN      NaN    NaN
Shah Rukh Khan             NaN     NaN         NaN        NaN      7.2    NaN
Varun Dhawan               NaN     NaN         NaN        NaN      NaN    NaN
Vicky Kaushal              NaN     NaN         NaN        NaN      NaN    NaN

Film                Tiger Zinda Hai  Uri: The Surgical Strike  War
Actor
Aamir Khan                      NaN                       NaN  NaN
Akshay Kumar                    NaN                       NaN  NaN
Ayushmann Khurrana              NaN                       NaN  NaN
Hrithik Roshan                  NaN                       NaN  6.5
Kartik Aaryan                   NaN                       NaN  NaN
Rajkummar Rao                   NaN                       NaN  NaN
Ranbir Kapoor                   NaN                       NaN  NaN
Ranveer Singh                   NaN                       NaN  NaN
Salman Khan                     6.0                       NaN  NaN
Shah Rukh Khan                  NaN                       NaN  NaN
Varun Dhawan                    NaN                       NaN  NaN
Vicky Kaushal                   NaN                       8.2  NaN